@import "tailwindcss";

@layer base {
    * {
      @apply p-0 m-0 box-border;
    }
}

@theme {
    --color-blue-light: #1E90FF;
    --color-black-main: #1A1A1A;
    --color-white-light: #FFFCF2;
    --color-linkedin: #0077B7;
    --color-instagram: #E4405F;

    --font-principal: 'Inter', sans-serif;
}
