@import "tailwindcss";

@layer base {
    * {
      @apply p-0 m-0 box-border;
    }
}

@theme {
    --color-blue-main: #162E50;
    --color-blue-light: #1A3A6F;
    --color-yellow-main: #FFD700;
    --color-linkedin: #0077B7;
    --color-instagram: #E4405F;

    --xl: 1280px;

    --translate-y-7: translateY(7px);
    --translate-y-14: translateY(14px);

    --font-principal: 'Inter', sans-serif;
}
